<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue</title>
    <style>
      body {
        margin: 5%;
        font-family: "Quicksand", sans-serif;
      }
      .active {
        background: salmon;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <!-- {{}} = interpolation / tempalte syntax -->
        <h1>{{name}}</h1>
        <p v-once>{{message}}</p>
        <p>{{getname()}}</p>
        <p>Nama Lengkap saya adalah : {{namaLengkap}}</p>
        <br />
        <h1>Angka {{angka}}</h1>
        <p>Angka di atas adalah bilangan {{ infoBilangan}}</p>
        <p v-html="link"></p>
        <button
          v-on:click="handleClick()"
          @click="menu='tambah'"
          v-bind:class="{active:menu ==='tambah'}"
        >
          Tambah
        </button>
        <button v-bind:class="{active:menu ==='home'}" @click="menu ='home'">
          Home
        </button>
        <button v-bind:class="{active:menu ==='about'}" @click="menu ='about'">
          About
        </button>
        <button v-bind:class="{active:menu ==='blog'}" @click="menu ='blog'">
          Blog
        </button>
        <input type="text" name="" id="" v-model="name" /><br /><br />
        <div>
          <label for=""
            ><input
              type="checkbox"
              name=""
              id=""
              value="react"
              v-model="kelas"
            />React</label
          >
          <label for=""
            ><input
              type="checkbox"
              name=""
              id=""
              value="angular"
              v-model="kelas"
            />Angular</label
          >
          <label for=""
            ><input
              type="checkbox"
              name=""
              id=""
              value="vue"
              v-model="kelas"
            />Vue JS</label
          >
        </div>
        <p>{{kelas}}</p>
      </header>
      <footer id="footer">
        <p>Copyright 2020</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
      const member = {
        //string, bolean, array, object
        name: "Ramdan",
        message: "Hello Nama Saya Ramdan",
        qty: 2,
        namaDepan: "muhammad",
        namaBelakang: "Ramdan",
        angka: 10,
        link: '<a href="">Kangramdan.com</a>',
        menu: "home",
        kelas: [],
      };

      const vm = new Vue({
        //variable vm sebagai object vue
        //el dan data di sebut property
        el: "#app",
        data: member,
        methods: {
          getname: function () {
            return "Hello Nama saya adalah " + this.name; // this mengacu pada object vue bisa akses semua datanya
          },
          ubahNama: function (namaBaru) {
            this.name = namaBaru;
            return this.getname();
          },
          handleClick() {
            this.angka++;
          },
        },
        computed: {
          hitungTotal() {
            return this.qty * 50000;
          },
          namaLengkap() {
            return this.namaDepan + " " + this.namaBelakang;
          },
          infoBilangan() {
            return this.angka % 2 === 0 ? "Genap" : "Ganjil";
          },
        },
      });
    </script>
  </body>
</html>
